<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SitterFinder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Quicksand" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.12.4.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="assets/css/styles.css" type="text/css">
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="/">
			<h1>SitterFinder</h1>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/search">find a sitter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/manage">my reservations</a>
				</li>
				<li class="nav-item" id="signedinas">
				</li>
				<li class="nav-item">
					<button class="btn btn-pink auth-btn" id="barloginbtn">log in</button>
				</li>
				<li class="nav-item">
					<button class="btn btn-purple auth-btn" id="barregisterbtn">register</button>
				</li>
			</ul>
		</div>
	</nav>
	<div id="colorbg">
		{{{ body }}}
		<div id="loginmodal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<form>
					<div class="form-group">
						<label for="emailinput">Email address</label>
						<input type="email" class="form-control" id="emailinput" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="pwinput">Password</label>
						<input type="password" class="form-control" id="pwinput" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-purple-flat" id="submitloginbtn">Submit</button>
				</form>
			</div>
		</div>

		<!--begin oana's code/update -->
		<div id="registermodal" class="modal">

			<div class="modal-content">
				<span id='registerClose' class="close">&times;</span>
				<h3>Register for the SitterFinder</h3>
				<form>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="nameregister">Name</label>
								<input type="text" class="form-control" id="nameregister" placeholder="Enter your name">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="phoneregister">Phone Number</label>
								<input type="text" class="form-control" id="phoneregister" placeholder="Enter your phone number">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label for="addressregister">Address</label>
								<input type="text" class="form-control" id="addressregister" placeholder="Enter your address">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="zipcoderegister">ZIP Code</label>
								<input type="text" class="form-control" id="zipcoderegister" placeholder="Enter your ZIP Code">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="emailregister">Email address</label>
						<input type="email" class="form-control" id="emailregister" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="pwregister">Password</label>
						<input type="password" class="form-control" id="pwregister" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-purple-flat" id="submitregisterbtn">Submit</button>
					<div class="form-group">
						<label id="registerErrorMessage"></label>
					</div>
				</form>
			</div>
			<!--end oana's code/update -->
			<div id="messagemodal" class="modal">
				<div class="modal-content">
					<span class="close">&times;</span>
					<h3>Please sign in to use this feature.</h3>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/js/home.js"></script>
	<script src="assets/js/manage.js"></script>
	<script src="assets/js/search.js"></script>
</body>

</html>