<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>BurgerMunch</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link href="https://fonts.googleapis.com/css?family=Bangers|Boogaloo|Chango|Annie+Use+Your+Telescope|Coming+Soon|Just+Another+Hand|Patrick+Hand|Sue+Ellen+Francisco|Patrick+Hand|Luckiest+Guy|Pacifico|Satisfy"
	 rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.12.4.js"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
	{{{ body }}}
	<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
	<script src="/assets/js/script.js"></script>
</body>

</html>