<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
        <img class="logo" src="assets/images/favicon-02.png">
        <h1 id="appname">SitterFinder</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search">find a sitter</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link" href="/manage">my reservations</a>
            </li>
            {{#if user}} {{> navbar/nav-block}}
            {{else}}
            <li class="nav-item" id="signedinas">
            </li>
            <li class="nav-item">
                <button class="btn btn-pink auth-btn" id="barloginbtn">log in</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-purple auth-btn" id="barregisterbtn">register</button>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>
<div class="container-fluid splash">
    <div class="row">
        <div class="container-fluid col-11 col-md-7 frame">
            <div class="row">
                <div class="col-6 col-md-7 col-lg-8 col-xl-9">
                    <h2>Find the perfect petsitter!</h2>
                    <h3 id="tagline">We have hundreds of trustworthy petsitters available to care for your furry
                        friend!</h3>
                </div>
                <div class="col-6 col-md-5 col-lg-4 col-xl-3 dogimgholder">
                    <img class="dogimg pull-right" src="assets/images/dog-01.png">
                </div>
                <div class="row" id="lowertagline">
                    <div class="col-12">
                        <h3>We have hundreds of trustworthy petsitters available to care for your furry friend!</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-sm-6 col-lg-4">
                    <a href="/search">
                        <div class="placard">
                            <h5 class="card-title">Find a Sitter</h5>
                            <img class="icon" src="assets/images/dog-04.png">
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-6 col-lg-4">
                    <a href="/manage">
                        <div class="placard">
                            <h5 class="card-title">Reservations</h5>
                            <img class="icon" src="assets/images/dog-05.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>