<div class="container-fluid splash">
    <div class="container-fluid frame">
        <div class="row">
            <div class="col-12">
                <h1>Find the perfect petsitter!</h1>
                <h3>We have hundreds of trustworthy petsitters available to care for your furry friend!</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <a href="/search">
                    <div class="placard">
                        <h5 class="card-title">Find a Sitter</h5>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="/manage">
                    <div class="placard">
                        <h5 class="card-title">My Reservations</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>