<div class="container-fluid splash">
    <div class="row">
        <div class="container-fluid col-11 col-md-9 frame">
            <div class="row">
                <div class="col-12">
                    <h2>Find the perfect petsitter!</h2>
                    <h3>We have hundreds of trustworthy petsitters available to care for your furry friend!</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-sm-6 col-lg-4">
                    <a href="/search">
                        <div class="placard">
                            <h5 class="card-title">Find a Sitter</h5>
                            <img class ="icon" src = "assets/images/dog-04.png">
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-6 col-lg-4">
                    <a href="/manage">
                        <div class="placard">
                            <h5 class="card-title">Reservations</h5>
                            <img class ="icon" src = "assets/images/dog-05.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>