<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#about">
        SitterFinder
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search">find a sitter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manage">my reservations</a>
            </li>
            <li class="nav-item">
                <button class="btn" id="login">log in</button>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid splash">
    <div class="row">
        <h1>Find the perfect petsitter!</h1>
        <h3>We have hundreds of trustworthy petsitters available to care for your furry friend!</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-2 placard">
            <p>Find a Sitter</p>
            <img>
        </div>
        <div class="col-2 placard">
            <p>Manage Reservations</p>
            <img>
        </div>
    </div>
</div>
<div>

</div>