<div class="splash">
    <div class="container-fluid frame">
        <div class="row justify-content-center">
            <div class="col-8">
                <h3>My Reservations</h3>
                <!-In handlebars, we will dynamically generate a new card for each match returned->
                <!-These are just here to test the design and will be deleted when there is a database to reference with a handlebars partial->
                <div class="row resrow">
                    <div class="col-2 datecol">
                        03
                        <br>
                        MAR
                    </div>
                    <div class="col-3">
                        Annie
                    </div>
                    <div class="col-3">
                        Dog walking
                    </div>
                    <div class="col-3">
                        <button class ="btn btn-info">Make Changes</button>
                    </div>
                </div>
                <div class="row resrow">
                    <div class="col-2 datecol">
                        08
                        <br>
                        MAR
                    </div>
                    <div class="col-3">
                        Jose
                    </div>
                    <div class="col-3">
                        Drop-in visit
                    </div>
                    <div class="col-3">
                        <button class ="btn btn-info">Make Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>