<div class="splash">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-md-8">
                <h3>My Reservations</h3>
                {{#each reservations}}
                    {{#unless cancelled}}
                        {{> reservations/res-block}}
                    {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{#each reservations}} {{#unless cancelled}} {{> reservations/resmodal-block}} {{/unless}} {{/each}}