<div id="notsignedin-modal" class="modal">
    <div class="row justify-content-center">
        <div class="modal-content col-11 col-sm-11 col-md-9 col-lg-6 col-xl-5">
            <h3>Please sign in to view your reservations.</h3>
        </div>
    </div>
</div>