<div class="splash">
    <div class="container-fluid frame">
        <div class="row justify-content-center">
            <div class="col-8 sitterlist">
                <h3>Available Sitters</h3>
                <div class="card-deck">
                    <!-In handlebars, we will dynamically generate a new card for each match returned->
                    <!-These are just here to test the design and will be deleted when there is a database to reference with a handlebars partial->
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/233/200?image=1012" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Chris</h5>
                            <p class="card-text">Location: </p>
                            <p class="card-text">Average Rating: </p>
                            <button class="btn btn-info book-btn">Book me!</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/233/200?image=1005" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Karen</h5>
                            <p class="card-text">Location: </p>
                            <p class="card-text">Average Rating: </p>
                            <button class="btn btn-info book-btn">Book me!</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="https://picsum.photos/233/200?image=1027" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Allison</h5>
                            <p class="card-text">Location: </p>
                            <p class="card-text">Average Rating: </p>
                            <button class="btn btn-info book-btn">Book me!</button>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="searchmodal" class="modal">
    <div class="modal-content">
        <span class="close searchclose">&times;</span>
        <h3>Search for a sitter!</h3>
        <form>
            <div class="row">
                <div class="form-group col-12">
                    <label for="serviceselection">What service are you looking for?</label>
                    <select class="form-control" id="serviceselection">
                        <option>Dog walking</option>
                        <option>Boarding</option>
                        <option>Drop-in visits</option>
                        <option>Housesitting</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label for="zipcodeinput">What is your zipcode?</label>
                    <input type="text" class="form-control" id="zipcodeinput" placeholder="Enter zip code.">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="startdateinput">When do you need the service to start?</label>
                    <input type="date" class="form-control" id="startdateinput" placeholder="Password">
                </div>
                <div class="form-group col-6">
                    <label for="startdateinput">When will you no longer need the service?</label>
                    <input type="date" class="form-control" id="startdateinput" placeholder="Password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="submitsearch">Submit</button>
        </form>
    </div>
</div>