<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
        <img class="logo" src="assets/images/favicon-02.png">
        <h1 id="appname">SitterFinder</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search">find a sitter</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link" href="/manage">my reservations</a>
            </li>
            {{#if user}} {{> navbar/nav-block}}
            {{else}}
            <li class="nav-item" id="signedinas">
            </li>
            <li class="nav-item">
                <button class="btn btn-pink auth-btn" id="barloginbtn">log in</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-purple auth-btn" id="barregisterbtn">register</button>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>
<div class="splash top">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-9 sitterlist">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h3 id="listname"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="card-deck d-flex justify-content-center" id="card-holder">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 pad-top" id="body-btn-holder">
                        <button class="btn btn-pink see-all-btn" id="see-all-body">See all sitters</button>
                        <button class="btn btn-purple" id="search-body">Search with specific terms</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="searchmodal" class="modal">
    <div class="row justify-content-center">
        <div class="modal-content search-modal-content col-11 col-sm-11 col-md-9 col-lg-6 col-xl-5">
            <h3>Search for a sitter!</h3>
            <form id="searchform">
                <div class="row">
                    <div class="form-group col-12">
                        <label for="serviceselection">What service are you looking for?</label>
                        <select class="form-control" id="serviceselection">
                            <option>Dog walking</option>
                            <option>Boarding</option>
                            <option>Drop-in visits</option>
                            <option>Housesitting</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="startdateinput">When?</label>
                        <input type="date" class="form-control" id="dateinput" data-toggle="popover" data-placement="left"
                            title="Invalid Date" data-content="Please choose a date following today.">
                    </div>
                    <div class="form-group col-6">
                        <label for="zipcodeinput">What is your zipcode?</label>
                        <input type="text" class="form-control" id="zipcodeinput" placeholder="Enter zip code"
                            data-toggle="popover" data-placement="right" title="Invalid Zipcode" data-content="Please enter a valid 5-digit US zipcode.">
                    </div>
                </div>
                <button type="submit" class="btn btn-purple-flat" id="submitsearchbtn">Submit</button>
            </form>
            <div class="row seeallrow">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <p>or, instead...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="btn btn-pink see-all-btn">See all sitters</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="additionalinputmodal" class="modal">
    <div class="row justify-content-center">
        <div class="modal-content col-11 col-sm-11 col-md-9 col-lg-6 col-xl-5">
            <span class="close">&times;</span>
            <form id="additionalform">
                <div class="row">
                    <div class="col-12">
                        <h3 id="serviceconfirmmessage"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="addtlinput-date">When?</label>
                        <input type="date" class="form-control" id="addtlinput-date" data-toggle="popover"
                            data-placement="left" title="Invalid Date" data-content="Please choose a date following today.">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="addtlinput-zip">What is your zipcode?</label>
                        <input type="text" class="form-control" id="addtlinput-zip" placeholder="Enter zip code"
                            data-toggle="popover" data-placement="right" title="Invalid Zipcode" data-content="Please enter a valid 5-digit US zipcode.">
                    </div>
                </div>
                <button type="submit" class="btn btn-purple-flat" id="submit-addtlinput">Submit</button>
            </form>
        </div>
    </div>
</div>
<div id="messagemodal" class="modal">
    <div class="row justify-content-center">
        <div class="modal-content col-11 col-sm-11 col-md-9 col-lg-6 col-xl-5">
            <h3 id="alertmessage"></h3>
            <div class="row" id="modalbtnrow">
                <div class="col-6 d-flex justify-content-end">
                    <button class="btn btn-purple-flat" id="searchagainbtn">Search again</button>
                </div>
                <div class="col-6 d-flex justify-content-start">
                    <button class="btn btn-pink-flat see-all-btn" id="see-all-modal">See all sitters</button>
                    <a href="/manage"><button class="btn btn-pink-flat" id="viewresbtn">View reservations</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/search.js"></script>