<div class="splash top">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-9 sitterlist">
                <h3>Available Sitters</h3>
                <div class="card-deck">
                    {{#each sitters}} {{> sitters/sitters-block}} {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>