body {
    font-family: 'Quicksand', sans-serif;
}

#colorbg {
    background-color: #52D7D9;
    height: 100vh;
}

.splash {
    background-color: #52D7D9;
    padding-top: 10rem;
}
.top{
    padding-top: 7rem;
}
.frame {
    border-radius: 2rem;
    background-color: whitesmoke;
    padding: 2rem;
    width: 70%;
}

h1 {
    font-family: 'Fredoka One', cursive;
    color: white
}

h2 {
    font-family: 'Fredoka One', cursive;
    color: #0F4369;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    color: #0F4369;
    margin: 1.5rem 0 1.5rem;
    font-size: 1.5rem;
}
h4{
    font-size: 1rem;
    color: white;
}
.navbar {
    background: #0F4369;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.nav-link {
    color: #52D7D9!important;
}

#signedinas {
    display: none;
    color: #52D7D9!important;
}

/*All styles pertaining to the modal and its contents*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5rem;
}

.modal-content {
    background-color: #ffffff;
    margin: 25% auto;
    margin-top: 70px;
    padding: 20px;
    border: none;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.modaltext {
    font-family: 'Quicksand', sans-serif;
    color: hsl(205, 75%, 24%);
    text-shadow: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.close {
    text-align: right;
    color: #FF4778;
    opacity: 1;
    text-shadow: none;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
    margin-right: -10px;
}

.close:hover, .close:focus {
    color: #FF4778;
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
}

#searchmodal {
    display: block;
}
.card{
    border: none;
}
.placard {
    background: #52D7D9;
    background-image: -webkit-linear-gradient(top, hsl(181, 64%, 59%), hsl(181, 73%, 43%));
    background-image: -moz-linear-gradient(top, hsl(181, 64%, 59%), hsl(181, 73%, 43%));
    background-image: -ms-linear-gradient(top, hsl(181, 64%, 59%), hsl(181, 73%, 43%));
    background-image: -o-linear-gradient(top, hsl(181, 64%, 59%), hsl(181, 73%, 43%));
    background-image: linear-gradient(top, hsl(181, 64%, 59%), hsl(181, 73%, 43%));
    color: white;
    font-weight: bolder;
    border-radius: 4.8px;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

a {
    font-family: 'Quicksand', sans-serif;
    color: #0F4369;
}

a:hover {
    text-decoration: none;
}

.icon {
    float: none;
}

.sitterlist {
    display: none;
}

.resrow {
    border: 1px solid #0F4369;
    background: whitesmoke;
    border-radius: 4.8px;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.datecol {
    background-color: #0F4369;
    color: white;
}

#registermodal {
    display: none;
}

#barregisterbtn {
    margin-left: 15px;
}

#barloginbtn {
    margin-left: 10px;
}

.btn-pink {
    color: white;
    background-image: -webkit-linear-gradient(top, #FC7297, #FF4778);
    background-image: -moz-linear-gradient(top, #FC7297, #FF4778);
    background-image: -ms-linear-gradient(top, #FC7297, #FF4778);
    background-image: -o-linear-gradient(top, #FC7297, #FF4778);
    background-image: linear-gradient(top, #FC7297, #FF4778);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #DE3361, 0 4px 2px rgba(0, 0, 0, .5);
}

.btn-purple {
    color: white;
    background-image: -webkit-linear-gradient(top, #B894D9, #794BA3);
    background-image: -moz-linear-gradient(top, #B894D9, #794BA3);
    background-image: -ms-linear-gradient(top, #B894D9, #794BA3);
    background-image: -o-linear-gradient(top, #B894D9, #794BA3);
    background-image: linear-gradient(top, #B894D9, #794BA3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 #63338F, 0 4px 2px rgba(0, 0, 0, .5);
}

.btn-purple-flat{
    background-image: -webkit-linear-gradient(top, #B894D9, #794BA3);
    background-image: -moz-linear-gradient(top, #B894D9, #794BA3);
    background-image: -ms-linear-gradient(top, #B894D9, #794BA3);
    background-image: -o-linear-gradient(top, #B894D9, #794BA3);
    background-image: linear-gradient(top, #B894D9, #794BA3);
    color: white;
}

.btn-pink-flat{
    color: white;
    background-image: -webkit-linear-gradient(top, #FC7297, #FF4778);
    background-image: -moz-linear-gradient(top, #FC7297, #FF4778);
    background-image: -ms-linear-gradient(top, #FC7297, #FF4778);
    background-image: -o-linear-gradient(top, #FC7297, #FF4778);
    background-image: linear-gradient(top, #FC7297, #FF4778);
}
@media screen and (max-width: 768px) {
    #barregisterbtn {
        margin-left: 0;
    }
    .auth-btn {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}